/***** BASE STYLES *****/

body {
    background-color: #EFEFEF;
    background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
    font-family:'Merriweather', serif;
    font-size: 15px;
    margin: 0 auto;
}

.container {
	width: 900px;
	margin: 0 auto;
}

/***** HEADER *****/

header h1 {
  font-size: 60px;
  line-height: 60px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #A9A9A9;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align:center;
}

header p {
  text-align:center;
}

header p a {
  text-decoration: none;
  font-family: 'Merriweather', serif;
  font-size: 15px;
  color: #FF3B3F;
}

header span {
  color: #FF3B3F;
}

/***** ADVICE *****/

.advice-one, .advice-two, .advice-three {
  border: 2px solid #CAEBF2;
  margin-bottom: 23px;
	padding: 0px 30px;
  background-color: #EFEFEF;
}

.advice-one h4, .advice-two h4, .advice-three h4 {
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #A9A9A9;
}

/***** FOOTER *****/

footer p {
  text-align: center;
  font-size: 12px;
  color: #A9A9A9;
}
